#================  We ignore everything except files of interest  =====================
**/*.*

!.gitignore
!web.config

#====================================  Mods  ==========================================
!Mods/*.txt
!Main/*.cfg

!Mods/PyGunGame/PyGunGame/**/*
!Mods/PyGunGame/*.bat
!Mods/PyGunGame/03-PyGunGame.cfg
!Mods/PyGunGame/mod.ff

!Mods/PyWar/PyWar/**/*
!Mods/PyWar/*.bat
!Mods/PyWar/03-PyWar.cfg
!Mods/PyWar/04-Pistol.cfg
!Mods/PyWar/05-Sniper.cfg
!Mods/PyWar/mod.ff


#===================================  Players  ========================================
Players/**/mpdata
!Players/Profiles/active.txt

!Players/Profiles/PyOnline/config_mp.cfg

!Players/Profiles/PyPrivate/config_mp.cfg


#==================================  Registry  ========================================
!Windows/*


#=================================  ShortCuts  ========================================
!*.bat