#==================  Ignore everything except files of interest  ======================
*

# not folders
!*/

# not these
!.gitignore
!web.config

#====================================  Mods  ==========================================
!Mods/*.txt
!Main/*.cfg

!Mods/Baz*/Baz*/**/*
!Mods/Baz*/*.bat
!Mods/Baz*/*.cfg
!Mods/Baz*/mod.ff

#===================================  Players  ========================================
!Players/Profiles/LvL55-Setup.txt
!Players/Profiles/mpdata_LvL55
!Players/Profiles/**/config_mp.cfg

#===============================  Windows Scripts  ====================================
!Windows/*

#=================================  ShortCuts  ========================================
!*.bat