<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <staticContent>
            <mimeMap fileExtension=".iwd" mimeType="application/iwd" />
            <mimeMap fileExtension=".ff" mimeType="application/ff" />
        </staticContent>
        <defaultDocument enabled="false" />
    </system.webServer>
	
</configuration>
